@using Exercises.Web.Models;
@model BabyLottoModel
@{
    ViewBag.Title = "Baby Lotto Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Baby Lotto</h2>

@if(Model.LotteryScore1() == 0)
{
  <p style="color:black">@Model.Ticket1</p>
}
else if (Model.LotteryScore1() == 10)
{
    <p style="color:silver">@Model.Ticket1</p>
}
else if (Model.LotteryScore1() == 20)
{
    <p style="color:green">@Model.Ticket1</p>
}

@if (Model.LotteryScore2() == 0)
{
    <p style="color:black">@Model.Ticket2</p>
}
else if (Model.LotteryScore2() == 10)
{
    <p style="color:silver">@Model.Ticket2</p>
}
else if (Model.LotteryScore2() == 20)
{
    <p style="color:green">@Model.Ticket2</p>
}

@if (Model.LotteryScore3() == 0)
{
    <p style="color:black">@Model.Ticket3</p>
}
else if (Model.LotteryScore3() == 10)
{
    <p style="color:silver">@Model.Ticket3</p>
}
else if (Model.LotteryScore3() == 20)
{
    <p style="color:green">@Model.Ticket3</p>
}

@if (Model.LotteryScore4() == 0)
{
    <p style="color:black">@Model.Ticket4</p>
}
else if (Model.LotteryScore4() == 10)
{
    <p style="color:silver">@Model.Ticket4</p>
}
else if (Model.LotteryScore4() == 20)
{
    <p style="color:green">@Model.Ticket4</p>
}

@if (Model.LotteryScore5() == 0)
{
    <p style="color:black">@Model.Ticket5</p>
}
else if (Model.LotteryScore5() == 10)
{
    <p style="color:silver">@Model.Ticket5</p>
}
else if (Model.LotteryScore5() == 20)
{
    <p style="color:green">@Model.Ticket5</p>
}

