@using Exercises.Web.Models;
@model BabyLottoModel
@{
    ViewBag.Title = "Baby Lotto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Baby Lotto</h2>
<p>Enter three comma delimited numbers for each ticket.</p>
@using (Html.BeginForm("BabyLottoResult", "Home", FormMethod.Get))
{
    <div>
        @Html.Label("Ticket1", "Ticket 1:")
        @Html.TextBoxFor(m => m.Ticket1)
    </div>
    <div>
        @Html.Label("Ticket2", "Ticket 2:")
        @Html.TextBoxFor(m => m.Ticket2)
    </div>
    <div>
        @Html.Label("Ticket3", "Ticket 3:")
        @Html.TextBoxFor(m => m.Ticket3)
    </div>
    <div>
        @Html.Label("Ticket4", "Ticket 4:")
        @Html.TextBoxFor(m => m.Ticket4)
    </div>
    <div>
        @Html.Label("Ticket5", "Ticket 5:")
        @Html.TextBoxFor(m => m.Ticket5)
    </div>
    <button>Submit</button>
}