@using Exercises.Web.Models;
@model ColorizedNameModel
@{
    ViewBag.Title = "Colorized Name";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Enter Name</h2>

@using (Html.BeginForm("ColorizedNameResult", "Home", FormMethod.Get))
{
    <div>
        @Html.Label("firstName", "First Name")
        @Html.TextBoxFor(m => m.FirstName)
    </div>
    <div>
        @Html.Label("lastName", "Last Name")
        @Html.TextBoxFor(m => m.LastName)
    </div>
    <div>
        @Html.CheckBoxFor(m => m.Blue) Blue
        @Html.CheckBoxFor(m => m.Red) Red
        @Html.CheckBoxFor(m => m.Green) Green      
    </div>
    <button>Submit</button>

}