@using Exercises.Web.Models;
@model FizzBuzzModel
@{
    ViewBag.Title = "FizzBuzz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FizzBuzz Revisited</h2>

@using (Html.BeginForm("FizzBuzzResult", "Home", FormMethod.Get))
{
    <div>
        @Html.Label("divisableBy1", "Divisable By:")
        @Html.TextBoxFor(m => m.DivisableBy1)
    </div>
    <div>
        @Html.Label("divisableBy2", "Divisable By:")
        @Html.TextBoxFor(m => m.DivisableBy2)
    </div>
    <div>
        @Html.Label("alternativeFizz", "Alternative Fizz:")
        @Html.TextBoxFor(m => m.Fizz)
    </div>
    <div>
        @Html.Label("alternativeBuzz", "Alternative Buzz:")
        @Html.TextBoxFor(m => m.Buzz)
    </div>
    <div>
        @Html.Label("number1", "Number 1:")
        @Html.TextBoxFor(m => m.Number1)
    </div>
    <div>
        @Html.Label("number2", "Number 2:")
        @Html.TextBoxFor(m => m.Number2)
    </div>
    <div>
        @Html.Label("number3", "Number 3:")
        @Html.TextBoxFor(m => m.Number3)
    </div>
    <div>
        @Html.Label("number4", "Number 4:")
        @Html.TextBoxFor(m => m.Number4)
    </div>
    <div>
        @Html.Label("number5", "Number 5:")
        @Html.TextBoxFor(m => m.Number5)
    </div>

    <button>Submit</button>

}