@using Exercises.Web.Models;
@model FizzBuzzModel
@{
    ViewBag.Title = "FizzBuzz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FizzBuzz Revisited</h2>
<p>Divisable by: @Model.DivisableBy1</p>
<p>Divisable by: @Model.DivisableBy2</p>
<p>Divisable by Both: @Model.DivisableBy1 and @Model.DivisableBy2</p>
<br/>
<p>Alternative Fizz: @Model.Fizz</p>
<p>Alternative Buzz: @Model.Buzz</p>
<br/>
@foreach(string s in Model.FizzBuzzer())
{
    <p>@s</p>
}