@using Exercises.Web.Models;
@model LastTwoModel
@{
    ViewBag.Title = "Last Two";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reversed Last Two Characters</h2>

<p>@Model.word1 : @Model.Reverse1()</p>
<p>@Model.word2 : @Model.Reverse2()</p>
<p>@Model.word3 : @Model.Reverse3()</p>
<p>@Model.word4 : @Model.Reverse4()</p>
<p>@Model.word5 : @Model.Reverse5()</p>
<p>@Model.word6 : @Model.Reverse6()</p>
<p>@Model.word7 : @Model.Reverse7()</p>
<p>@Model.word8 : @Model.Reverse8()</p>
<p>@Model.word9 : @Model.Reverse9()</p>
<p>@Model.word10 : @Model.Reverse10()</p>
