@using Exercises.Web.Models;
@model OrderNameModel
@{
    ViewBag.Title = "Order Name";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Enter Name</h2>


@using (Html.BeginForm("OrderNameResult", "Home", FormMethod.Get))
{
    <div>
        @Html.Label("firstName", "First Name")
        @Html.TextBoxFor(m => m.FirstName)
    </div>
    <div>
        @Html.Label("lastName", "Last Name")
        @Html.TextBoxFor(m => m.LastName)
    </div>
    <div>
        @Html.Label("middleInitial", "Middle Initial")
        @Html.TextBoxFor(m => m.MiddleInitial)
    </div>

    <h2>Choose Order</h2>

    <div class="formInputGroup-radio">
        @Html.RadioButtonFor(m => m.ListOrder, "First MI Last") First MI Last
        @Html.RadioButtonFor(m => m.ListOrder, "First Last") First Last
        @Html.RadioButtonFor(m => m.ListOrder, "Last, First MI") Last, First MI
        @Html.RadioButtonFor(m => m.ListOrder, "Last, First") Last, First
    </div>

    <button>Submit</button>
}